<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.ico" />
    <title>%title% | %meta_page_title%</title>

    <link href="../styles/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../styles/slices.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Share Meta -->
%meta_tags%
</head>
<body class="Blog__body">
    <div class="Global__backing"></div>
    <div class="Global__wrapper">
        <header class="Blog__header-container">
          <h1 class="Blog__header-copy">%title%</h1>
          <nav class="Global__landing-button">
            <a href="/" aria-label="Navigates to the home page">⌂</a>
          </nav>
        </header>
        <main class="Blog__main">
            <article class="Blog__entry--pinned">
              %pinned_entry%
            </article>
            %entries%
        </main>
        <footer>
          %credit%
        </footer>
    </div>
</body>
</html>