<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>%title% | %meta_page_title%</title>
  <link href="../styles/style.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" href="../favicon.ico" />
  %meta_tags%
</head>
<body class="Guestbook__body">
  <div class="Global__backing"></div>
  <div class="Global__wrapper">
    <header>
      <h1 class="Guestbook__heading">%title%</h1>
    </header>
    <main>
      <p class="Guestbook__copy">%intro_blurb%</p>
      <iframe src="%embed%" class="Guestbook__iframe"></iframe>
    </main>
  </div>
</body>
</html>