<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%meta_page_title%</title>
    <link rel="icon" href="/favicon.ico" />
    <meta property="og:url" content="%meta_url%" key="ogurl" />
    <meta property="og:image" content="%meta_image_base%"  key="ogimage" />
    <meta property="og:site_name" content="%meta_page_title%" key="ogsitename" />
    <meta property="og:title" content="%meta_page_title%" key="ogtitle" />
    <meta property="og:description" content="%meta_page_description%" key="ogdesc" />
    <meta name="description" content="%meta_page_description%" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="%meta_url%" />
    <meta property="twitter:title" content="%meta_page_title%" />
    <meta property="twitter:description" content="%meta_page_description%" />
    <meta property="twitter:image" content="%meta_image_twitter%" />

    <link href="../styles/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <header>
        <h1>%title%</h1>
    </header>
    <main>
        
    </main>
</body>
</html>