<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%meta_page_title%</title>
    <link rel="icon" href="../favicon.ico" />
    <link href="../styles/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../styles/slices.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Share Meta -->
%meta_tags%

</head>
<body class="Home__body">
    <div class="Global__backing"></div>
    <div class="Global__wrapper">
        <header class="Home__header-container">
            <h1 class="Home__header-copy">%title%</h1>
            <div class="Home__header-chains Home__header-chains--left">
                <img src="../images/chain.gif" alt="" class="Global__chain Home__header-chain--first">
                <img src="../images/chain.gif" alt="" class="Global__chain Home__header-chain--second">
            </div>
            <div class="Home__header-chains Home__header-chains--right">
                <img src="../images/chain.gif" alt="" class="Global__chain Home__header-chain--first">
                <img src="../images/chain.gif" alt="" class="Global__chain Home__header-chain--second">
            </div>
            <img src="../images/chaos_star.svg" alt="" class="Home__chaos-star Home__chaos-star--left">
            <img src="../images/chaos_star.svg" alt="" class="Home__chaos-star Home__chaos-star--right">
        </header>
        <main class="Home__main">
            %slices%
        </main>
        <footer class="Home__footer">
            <img src="../images/chaos_star.svg" alt="" class="Home__chaos-star Home__chaos-star--center">
            <img src="../images/worldwideweb_badge.gif" alt="" class="Home__www-badge">
            <p class="Home__footer-copy">A site by Gimbal_Lock</p>
        </footer>
    </div>
</body>
</html>