<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" />
    <title>%meta_page_title%</title>

    <link
      href="./styles/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

    <!-- Share Meta -->
    %meta_tags%
  </head>
  <body style="background-image: url(%background_image%)" class="Landing__body">
    <header class="Landing__header">
      <h1 class="Landing__title">%title%</h1>
      <nav class="Landing__nav-container">
        <ul class="Landing__nav-list">
          <li class="Landing__nav-item">
            <a href="./home" class="Landing__link"> Gallery </a>
          </li>
          <li class="Landing__nav-item">
            <a href="./lists" class="Landing__link"> Lists </a>
          </li>
          <li class="Landing__nav-item">
            <a href="./blog" class="Landing__link"> Blog </a>
          </li>
          <li class="Landing__nav-item">
            <a href="./about" class="Landing__link"> About </a>
          </li>
          <li class="Landing__nav-item">
            <a href="./guest-book" class="Landing__link"> Guestbook </a>
          </li>
        </ul>
      </nav>
    </header>
    <script src="./scripts/three-scene.js" type="module"></script>
  </body>
</html>
