<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%meta_page_title%</title>

    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <header>
        <h1>%title%</h1>
    </header>
    <main>
        <!-- 3d image -->
        <a href="./home">
            %enter_button_copy%
        </a>
    </main>
</body>
</html>