<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" />
    <title>%meta_page_title%</title>

    <link href="./styles/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Share Meta -->
%meta_tags%
</head>
<body style="background-image: url(%background_image%);" class="Landing__body">
    <header class="Landing__header">
        <h1 class="Landing__title">%title%</h1>
    </header>
    <main class="Landing__main">
        <!-- 3d image -->
        <a href="./home" class="Landing__enter-link">
            %enter_button_copy%
        </a>
    </main>
</body>
</html>