<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%meta_page_title%</title>
    <link rel="icon" href="../favicon.ico" />
    <link
      href="../styles/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="../styles/slices.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

    <!-- Share Meta -->
    %meta_tags%
  </head>
  <body class="Lists__body">
    <div class="Global__backing"></div>
    <div class="Global__wrapper">
      <header class="Lists__header-container">
        <nav class="Global__landing-button">
          <a href="/" aria-label="Navigates to the home page">⌂</a>
        </nav>
        <h1 class="Lists__header-copy">%title%</h1>
      </header>
      <main class="Lists__main">%lists%</main>
      <footer class="Lists__footer">%credit%</footer>
    </div>
  </body>
</html>
