<section class="Slice__banner-container">
  <a href="/%slug%">
    <img
      src="%image_url%"
      alt="%image_alt%"
      class="Slice__banner-image"
      style="%style%"
    >
  </a>
  <img src="../images/chain.gif" alt="" class="Global__chain Slice__banner-chain Slice__banner-chain--left">
  <img src="../images/chain.gif" alt="" class="Global__chain Slice__banner-chain Slice__banner-chain--right">
  <img src="../images/chain_end.gif" alt="" class="Global__chain Slice__banner-chain Slice__banner-chain--left Slice__banner-chain--end">
  <img src="../images/chain_end.gif" alt="" class="Global__chain Slice__banner-chain Slice__banner-chain--right Slice__banner-chain--end">
</section>