<section
  class="Slice__container Slice__container--double-banner %flex_class%"
>
  <a href="/%first_slug%" class="Slice__link Slice__link--left">
    <img
      src="%first_thumb%"
      alt="%first_alt%"
      class="Slice__banner-image"
      style="%first_style%"
    >
  </a>
  <a href="/%second_slug%" class="Slice__link Slice__link--right">
    <img
      src="%second_thumb%"
      alt="%second_alt%"
      class="Slice__banner-image"
      style="%second_style%"
    >
  </a>
  <img src="../images/chain.gif" alt="" class="Global__chain Slice__chain Slice__chain--left">
  <img src="../images/chain.gif" alt="" class="Global__chain Slice__chain Slice__chain--right">
  <img src="../images/chain_end.gif" alt="" class="Global__chain Slice__chain Slice__chain--left Slice__chain--end">
  <img src="../images/chain_end.gif" alt="" class="Global__chain Slice__chain Slice__chain--right Slice__chain--end">
</section>