.Slice__container {
  position: relative;
  height: 200px;
  margin-bottom: 50px;
}

.Slice__container--gallery-wrapper {
  height: auto;
}

.Slice__container--wide-image-wrapper {
  height: auto;
  margin-bottom: 0;
}

.Slice__banner-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Slice__chain {
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%);
}

.Slice__chain--left {
  left: 20%;
}

.Slice__chain--left.Slice__chain--end {
  transform: translate(-25%, 100%);
}

.Slice__chain--right.Slice__chain--end {
  transform: translate(25%, 100%);
}

.Slice__chain--right {
  right: 20%;
}

.Slice__chain--end {
  display: none;
}

.Slice__container:last-of-type .Slice__chain {
  display: none;
}

.Slice__container:last-of-type .Slice__chain--end {
  display: block;
}

.Slice__container--double-banner {
  display: flex;
}

.Slice__container--double-banner.reverse {
  flex-direction: row-reverse;
}

.Slice__link--left {
  width: calc(30% - 24px);
}

.Slice__link--right {
  width: 70%;
}

.Slice__container--double-banner:not(.reverse) .Slice__link--left {
  margin-right: 24px;
}

.Slice__container--double-banner.reverse .Slice__link--left {
  margin-left: 24px;
}

.Slice__gallery-title {
  margin: 0 auto 24px;
  padding: 3px 8px;
  width: 100%;
  font-size: 20px;
  background-color: gray;
  border: 3px solid silver;
}

.Slice__gallery-list-container {
  display: flex;
  flex-wrap: wrap;
}

.Slice__gallery-list-item {
  width: calc((100% - 24px) / 2);
  margin-right: 24px;
  margin-bottom: 24px;
}

.Slice__gallery-list-item:nth-of-type(2n) {
  margin-right: 0;
}

.Slice__gallery-list-image {
  width: 100%;
  height: auto;
  aspect-ratio: 512/512;
}

.Slice__wide-image-list-container {
  /*  */
}

.Slice__wide-image-item {
  width: 100%;
  margin-bottom: 24px;
}

.Slice__wide-image-img {
  width: 100%;
  height: auto;
}

.Slice__blog-link-container {
  margin: 10px 0;
}

.Slice__blog-link-anchor {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.Slice__blog-link-copy {
  text-decoration: underline;
}

@keyframes jiggle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.Slice__blog-link-new,
.Slice__blog-link-updated {
  color: #7a0e44;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000;
  margin-left: 10px;
  animation: jiggle 0.7s infinite linear;
}

.Slice__blog-link-new {
  color: #7a0e44;
  animation-delay: 0.35s;
}

.Slice__blog-link-new.visible,
.Slice__blog-link-updated.visible {
  display: inline;
}

.Slice__blog-link-new.hidden,
.Slice__blog-link-updated.hidden {
  display: none;
}

.Slice__text-container {
  background: grey;
  margin-bottom: 24px;
  padding: 24px 10px;
  border: 3px solid silver;
  border-radius: 5px;
}

.Slice__text-subheading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.Slice__paragraph {
  margin: 10px auto;
  font-size: 18px;
  width: 90%;
}

.Slice__paragraph::first-letter {
  margin-left: 24px;
}

.Slice__model {
  position: relative;
  background: transparent;
  margin-bottom: 50px;
}

.Slice__model-loader {
  position: absolute;
  max-width: 500px;
  width: 100vw;
  height: 100%;
  left: 50%;
  background: #fff6;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slice__model-loader.hidden {
  display: none;
}

.Slice__model-button {
  padding: 15px 15px 12px;
  border: 2px solid black;
  background: grey;
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.Slice__model-button:focus,
.Slice__model-button:hover {
  background: #606060;
  color: white;
  border-color: black;
}

.Slice__model-button:active {
  background: black;
  color: white;
}

.Slice__model-view {
  max-width: 500px;
  width: 100vw;
  aspect-ratio: 1;
  margin: 0 auto;
}

.Slice__model-view canvas {
}

/* Mobile Breakpoint */

@media only screen and (max-width: 600px) {
  .Slice__paragraph {
    width: 90%;
    font-size: 16px;
  }
}
