html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}
html {
  font-size: 62.5%;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 850px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.Global__wrapper {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.Global__chain {
  height: 50px;
  width: auto;
}

.Global__backing {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: #000b;
  pointer-events: none;
}

.Global__landing-button {
  position: fixed;
  top: 5px;
  left: 5px;
  color: #fff;
  font-size: 28px;
  z-index: 10;
}

.Global__landing-button a {
  padding: 10px 25px;
}

.Global__bold {
  color: #7a0e44;
  font-weight: 700;
}

.Global__footer-credit {
  margin: 24px 0 12px;
  text-align: center;
  color: #fff;
}

.Landing__body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vh;
}

.Landing__body canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Landing__main {
  position: relative;
  z-index: 2;
}

.Landing__header {
  position: absolute;
  z-index: 2;
  padding-bottom: 50px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.Landing__nav-list {
  display: flex;
  justify-content: center;
}

.Landing__nav-item {
  padding: 15px 10px;
}

.Landing__link {
  display: block;
  text-align: center;
  max-width: max-content;
  margin: 0 auto;
  font-size: 18px;
  text-decoration: underline;
}

.Home__body,
.Entry__body,
.Guestbook__body,
.Blog__body,
.About__body,
.Lists__body {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background: url("../images/stone_wall.jpg"), #000;
  background-size: 250px 250px;
  padding-bottom: 24px;
}

.Home__main {
  margin-bottom: -25px;
}

.Home__header-container {
  position: relative;
  margin-bottom: 100px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url("../images/bigfire.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.Home__header-copy {
  text-align: center;
  font-family: "Spectral";
  font-weight: 700;
  font-size: 60px;
  line-height: 1.33em;
  letter-spacing: 3.6px;
  text-shadow: -1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff,
    1px -1px 0 #fff;
}

.Home__header-chains {
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%);
}

.Home__header-chains--left {
  left: 20%;
}

.Home__header-chains--right {
  right: 20%;
}

.Home__chaos-star {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 50vw;
  height: auto;
  pointer-events: none;
}

.Home__chaos-star--left {
  left: 0;
  transform: translate(-50%, -50%);
}

.Home__chaos-star--right {
  right: 0;
  transform: translate(50%, -50%);
}

.Home__chaos-star--center {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.Home__footer {
  position: relative;
  text-align: center;
}

.Home__www-badge {
  width: auto;
  position: absolute;
  z-index: 2;
  top: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Entry */

.Entry__header-container {
  position: relative;
  margin-top: 58px;
  margin-bottom: 24px;
}

.Entry__header-image {
  width: 100%;
  aspect-ratio: 1920/1080;
  margin-bottom: 24px;
}

.Entry__header-description-wrapper {
  background: gray;
  padding: 24px 10px;
  border: 5px solid silver;
  border-radius: 5px;
}

.Entry__header-copy {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.Entry__header-description-copy {
  font-size: 18px;
}

.Entry__header-go-back {
  position: relative;
}

.Entry__header-go-back img {
  width: 180px;
  height: auto;
  position: absolute;
  left: -75px;
  top: -32px;
}

/* Guestbook */

.Guestbook__body {
  text-align: center;
  color: #fff;
}

.Guestbook__heading {
  margin: 24px 0;
  font-size: 24px;
}

.Guestbook__copy {
  margin-bottom: 12px;
  font-size: 18px;
}

.Guestbook__iframe {
  width: 100%;
  height: 75vh;
  min-height: 450px;
  border: none;
}

/* Blog */

.Blog__body {
  color: #fff;
}

.Blog__header-copy {
  font-size: 24px;
  text-align: center;
  margin: 24px 0;
}

.Blog__entry--pinned {
  font-size: 20px;
  margin-bottom: 14px;
}

.About__body {
  color: #fff;
}

/* About */

.About__header-container {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About__header-copy {
  font-size: 24px;
}

.About__header-image {
  width: 256px;
  margin-bottom: 24px;
}

.About__subheading {
  text-align: center;
  font-size: 20px;
}

.About__quote {
  font-size: 18px;
  text-align: center;
  margin: 24px auto;
  position: relative;
  width: max-content;
  background-color: white;
  padding: 10px 25px;
  border-radius: 5px;
  color: #000;
}

.About__quote::after,
.About__quote::before {
  font-size: 30px;
  position: absolute;
  color: white;
}

.About__quote::before {
  content: "❝";
  left: -30px;
  top: -10px;
}

.About__quote::after {
  content: "❞";
  right: -30px;
  bottom: -10px;
}

.About__bio {
  color: #f4bfdb;
  font-family: monospace;
  margin: 48px auto;
  width: 80%;
}

.About__badges-container {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.About__badge-image {
  width: auto;
}

/* Lists */

.Lists__body {
  color: white;
}

.Lists__header-container {
  text-align: center;
}

.Lists__header-copy {
  margin: 24px 0;
  font-size: 24px;
}

/* Mobile Breakpoint */

@media only screen and (max-width: 600px) {
  .Global__wrapper {
    width: 95%;
  }
  .Global__landing-button {
    font-size: 30px;
  }
  .Entry__header-go-back img {
    left: initial;
    left: 0;
  }
  .About__bio {
    width: 100%;
  }
  .About__quote {
    width: 90%;
  }
}
